<div class="main">
  <div class="login-form">
    <div class="header">
      <h2>Conecte-se</h2>
    </div>
    <form action="">

      <div class="username-input">
        <mat-form-field >
          <mat-label>Username</mat-label>
          <input [(ngModel)]="requestLogin.username" name="username" type="text" matInput placeholder="username">
        </mat-form-field>
      </div>

      <div class="password-input">
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input [(ngModel)]="requestLogin.password" name="password" matInput type="password" placeholder="password">
        </mat-form-field>
      </div>

      <div class="div-btn">
        <button (click)="sendLoginInfo()" mat-raised-button color="primary" class="btn-submit" >Acessar</button>
      </div>

    </form>

  </div>
</div>
 