<h1 mat-dialog-title class="titulo-dialog" >Adicionar novo pagamento</h1>


<div mat-dialog-content class="main-container"   >

  <form [formGroup]="formNovoPagamento" (ngSubmit)="criarNovoPagamento()"> 
  <mat-form-field class="fields" appearance="fill">
        <mat-label>Usuário</mat-label>
        <input matInput name="username"  formControlName="username">
      </mat-form-field>

      <mat-form-field class="fields" appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput name="firstName"  formControlName="firstName">
      </mat-form-field>

      <mat-form-field class="fields" appearance="fill">
        <mat-label>Sobrenome</mat-label>
        <input matInput name="lastName"  formControlName="lastName">
      </mat-form-field>

      <mat-form-field class="fields" appearance="fill">
        <mat-label>Título</mat-label>
        <input matInput name="title"  formControlName="title">
      </mat-form-field>

      <mat-form-field class="fields" appearance="fill">
        <mat-label>Data - MM/DD/YYYY</mat-label>
        <input matInput [matDatepicker]="picker" name="date"  formControlName="date">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="fields" appearance="fill">
        <mat-label>Valor</mat-label>
        <input matInput name="value"  formControlName="value">
      </mat-form-field>

      <div>
        <button class="save-btn" type="submit" mat-raised-button color="primary">Salvar</button>
      </div>
    </form> 
</div>


<div mat-dialog-actions>
  <button mat-button mat-dialog-close >Close</button>
</div>